* {
    font-family: arial;
    margin: 0;
    border: border-box;
}

.nav-bar {
    height: 50px;
    background-color: blue;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.nav-logo {
    height:45px;
    width: 40px;
}

.logo {
    background-image: url("Screenshot\ 2023-11-30\ 152100.png");
    background-size: cover;
    border: 1.5px solid transparent;
    height: 45px;
    width: 40px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid rgb(252, 167, 167);
}


/** SEARCH BAR**/

.nav-search {
    height: 45px;
    border: 1.5px solid transparent;
    width: 70%;
    background-color: wheat;
    border-radius: 4px;
    text-align: left;
    justify-content:center

}